/*
* @Author: 17695
* @Date:   2017-12-19 08:55:55
* @Last Modified by:   17695
* @Last Modified time: 2017-12-19 17:53:59
*/
body{
	font-size: 16px;
	font-family: "微软雅黑","苹方","sans-serif";
}
header{
	width: 100%;
	height: 1.77rem;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 999;
}
.head-top{
	width: 100%;
	height: .88rem;
	background-color: #c93a3a;
	padding: 0 .24rem;
}
.head-top h1{
	font-size: .37rem;
	color: #fff;
	font-weight: bolder;
	line-height: .88rem;
	float: left;
}
.head-search{
	width: 5.02rem;
	height: .57rem;
	float: right;
	margin-top: .155rem;
}
.head-search input{
	width: 100%;
	height: 100%;
	padding-left: .68rem;
}
nav{
	width: 100%;
	height: .89rem;
	background-color: #fff;
	padding: 0  .24rem;
	/* 设置弹性布局 */
	display: flex;
	/* 设置内容换行 */
	flex-wrap: wrap;
	/* 设置水平方向对齐方式 */
	justify-content: space-between;
	/* 设置单行垂直对齐方式 */
	align-items:center; 
}
nav a{
	color: #000;
	font-size: .34rem;
}
.nav-active{
	font-size: .4rem;
	color: #d43d3d;
}
.nav-more{
	display: block;
	width: .53rem;
	height: 100%;
	text-align: right;
	box-shadow: -6px 0 10px rgba(0, 0, 0, .2);
	line-height: .89rem;
	font-size: .6rem;
}
.content{
	position: absolute;
	left: 0;
	right: 0;
	top: 1.77rem;
	bottom: .98rem;
	overflow-y: scroll;
/* 	background-color: skyblue; */
}
.banner{
	width: 100%;
	height: 3.1rem;
	background-color: yellow;
}
.banner-img, .banner-item{
	width: 100%;
	height: 100%;
}
.category{
	width: 100%;
	height: 1.54rem;
/* 	background-color: green;
 */	padding: 0 .24rem;
	/* 设置弹性布局 */
	display: flex;
	/* 设置内容换行 */
	flex-wrap: wrap;
	/* 设置水平方向对齐方式 */
	justify-content: space-between;
	/* 设置单行垂直对齐方式 */
	align-items:center; 
}
.category li{
	width: 1.2rem;
	height: 1.25rem;
/* 	background-color: red; */
	display: flex;
	flex-wrap: wrap;
	justify-content:center;
	align-content: space-between;
}
.category-box{
	width: .72rem;
	height: .72rem;
	background-color: plum;
	border-radius: 50%;
	box-shadow: 0 0 .2rem #000;
}
.category-wenzi{
	font-size: .28rem;
	color: #575757;
	font-weight: 700;
}
.category li:nth-child(1) .category-box{
	box-shadow: 0 0 .3rem rgba(255, 144, 144, .4);
}
.category li:nth-child(2) .category-box{
	box-shadow: 0 0 .3rem rgba(162, 157, 255, .4);
}
.category li:nth-child(3) .category-box{
	box-shadow: 0 0 .3rem rgba(255, 101, 104, .4);
}
.category li:nth-child(4) .category-box{
	box-shadow: 0 0 .3rem rgba(255, 164, 46, .4);
}
.notice{
	width: 100%;
	height: 2.48rem;
/* 	background-color: goldenrod; */
	border-top: .01rem solid #e5e5e5;
	padding: .29rem .24rem 0;
}
.notice-top{
	width: 100%;
	height: 1.46rem;
/* 	background-color: yellow; */
}
.notice-top P{
	width: 4.36rem;
	height: 100%;
	font-size: .38rem;
	float: left;
}
.notice-img{
	width: 2.24rem;
	height: 100%;
	float: right;
}
.notice-bottom{
	width: 100%;
	overflow: hidden;
/* 	background-color: red; */
	margin-top: .05rem;
}
.name,.pinglun,.time{
	float: left;
	margin-right: .2rem;
	font-size: .24rem;
	color: #a3a3a3;
}
.end{
	float: right;
	width: .5rem;
	height: .3rem;
}
.list{
	width: 100%;
	height: 3.56rem;
/* 	background-color: red; */
	border-top: .01rem solid #e5e5e5;
	padding: .38rem .24rem 0;
}
.list-top{
	width: 100%;
	height: 1rem;
/* 	background-color: yellow; */
}
.list-top P{
	width:100%;
	height: 100%;
	font-size: .38rem;
}
.list-center{
	width: 100%;
	height: 1.75rem;
/* 	background-color: green; */
	display: flex;
	flex-wrap: wrap;
	justify-content:space-between;
	align-items:center; 
}
.list-img{
	width: 2.25rem;
	height: 1.46rem;
/* 	background-color: pink; */
	box-shadow: 0 0 .3rem rgba(0, 0, 0, .4);
}
footer{
	width: 100%;
	height: 0.98rem;
	position: fixed;
	bottom: 0;
	left: 0;
	z-index: 999;
	background-color: #fff;
}
.foot{
	width: 100%;
	height: 100%;
	display: flex;
	flex-wrap: wrap;
	justify-content:space-between;
	align-items:center; 
	padding: 0 .24rem;
}
.foot-img{
	width: 1.31rem;
	height: 100%;
	text-align: center;
	font-size: .3rem;
	color: #8d8d8d;
}
.foot-img-top{
	width: .5rem;
	height: .42rem;
	margin: 0 auto;
	margin-top: .1rem;
}
.jiajiajia{
	width: .87rem;
	height: .87rem;
}
.diyige{
	width: 100%;
	height: 2.1rem;
	padding: .34rem .24rem .39rem;
	border: 0;
}
.daohang{
	margin-top: .15rem;
}